.pie {
    background-color: black;
    color: $colorCuarto;
    @media (max-width:800px) {
        margin-top: 150px;
    }
    @media (max-width:600px) {
        margin-top: 0px;
    }
    i {
        font-size: 25px;
        }
    p {
        font-family: 'Quicksand';
        text-align: center;
        padding: 12px 0;
        font-size: 15px;
        background-color: rgb(39, 33, 33);
    }

    .footer-content{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;

        @media (max-width:992px) {
            justify-content: space-evenly;
        }
        @media (max-width:552px) {
            flex-direction: column;
            align-items: center;
            li {
                text-align: center;
            }
        }
        .footer-info{
            font-size: 15px;

            li:first-of-type {
                margin-bottom: 10px;
            }
        }
    .footer-redes {
        display: flex;
        @media (max-width:552px) {
            margin-top: 20px;
        }
        li { &:first-of-type {
            margin-right: 20px;
            i {
                color: #3b5998;
                font-size: 30px;
            }    
            }
            &:last-of-type {
                i {
                    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
                    font-size: 30px;
                    border-radius: 10px;
                }
            }
        }
    }
    }

}